<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>hidestatus</name>
  <displayName>Hide Order Status</displayName>
  <version>1.0.0</version>
  <description>Blendet bestimmte Bestellstatus im Backoffice aus.</description>
  <author>Björn Foldenauer</author>
  <tab>administration</tab>
  <is_configurable>true</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
